$small: 500px;
$medium: 800px;
$large: 1000px;

$unit-base: 4px;
$unit-small: $unit-base * 2;
$unit: $unit-small * 2;
$unit-large: $unit * 2;
$unit-huge: $unit-large * 2;

$font: 'Roboto';

$primary-color: #494b4c;
$secondary-color: #8f99a4;
$cta-color: #253542;
$gradient-color-1: #e4a147;
$gradient-color-2: #64a5b6;